<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <style>
            html {
                background-color: white;
            }

            body {
                margin: 40px;
            }

            table {
                border-collapse: collapse;
                max-width: 1000px;
                min-width: 400px;
                /*text-align: center;*/
                width: 100%;
            }

            table, th, td {
                border: 1px solid gray;
            }

            td {
                height: 24px;
                padding: 4px 4px 4px 10px;
                vertical-align: middle;
            }

            th {
                height: 24px;
                padding: 4px 4px 4px 4px;
                vertical-align: middle;
                background-color: #c0cbca;
            }

            .copy-btn {
                background-color: #a579f2;
                text-align: center;
                margin-left: 20px;
                margin-right: 20px;
                color: white;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <h3>Các môn trong học kì 1</h3>
        <table border="0" cellpadding="0" cellspacing="0" class="table-subject-1">
            <tr>
                <th>STT</th>
                <th>Tên môn học</th>
                <th>Học kỳ</th>
                <th>Copy tên môn học</th>
            </tr>
            <tr v-for="s in listSubject1">
                <td>{{s.id}}</td>
                <td>
                    <input style="border: none;" type="text" v-bind:id="s.id" v-bind:value="s.name" onmousedown='return false;' onselectstart='return false;'> 
                </td>
                <td>Kì 1</td>
                <td><div class="copy-btn" v-on:click="copySubjectName(s.id)">copy</div></td>
            </tr>
        </table>

        <h3>Các môn trong học kì 2</h3>
        <table border="0" cellpadding="0" cellspacing="0" class="table-subject-2">
            <tr>
                <th>STT</th>
                <th>Tên môn học</th>
                <th>Học kỳ</th>
                <th>Copy tên môn học</th>
            </tr>
            <tr v-for="s in listSubject2">
                <td>{{s.id}}</td>
                <td>
                    <input style="border: none;" type="text" v-bind:id="s.id" v-bind:value="s.name" onmousedown='return false;' onselectstart='return false;'> 
                </td>
                <td>Kì 2</td>
                <td><div class="copy-btn" v-on:click="copySubjectName(s.id)">copy</div></td>
            </tr>
        </table>

    </body>
    <script>
        var tableSubject = new Vue({
            el: '.table-subject-1',
            data: {
                listSubject1: [
                    {
                        name: "đại số",
                        id: "s1"
                    },
                    {
                        name: "giải tích",
                        id: "s2"
                    },
                    {
                        name: "tin học cơ sở",
                        id: "s3"
                    },
                    {
                        name: "giáo dục thể chất",
                        id: "s4"
                    },
                    {
                        name: "vật lý 1",
                        id: "s5"
                    },
                    {
                        name: "cơ sở dữ liệu phân tán",
                        id: "s6"
                    },
                    {
                        name: "các hệ thống phân tán",
                        id: "s7"
                    },
                    {
                        name: "lập trình web",
                        id: "s8"
                    },
                    {
                        name: "giải tích 2",
                        id: "s9"
                    },
                    {
                        name: "kiến trúc máy tính",
                        id: "s10"
                    },
                    {
                        name: "kĩ thuật vi xử lý",
                        id: "s11"
                    },
                    {
                        name: "kĩ năng tạo lập văn bản",
                        id: "s12"
                    },
                    {
                        name: "kĩ năng làm việc nhóm",
                        id: "s13"
                    },
                    {
                        name: "phân tích thiết kế hệ thống",
                        id: "s14"
                    },
                    {
                        name: "mạng máy tính",
                        id: "s15"
                    },
                    {
                        name: "tiếng anh A11",
                        id: "s16"
                    },
                    {
                        name: "tiếng anh A21",
                        id: "s17"
                    },
                    {
                        name: "tiếng anh B11",
                        id: "s18"
                    },
                    {
                        name: "chủ nghĩa Mac-Lênin",
                        id: "s19"
                    }
                ],
            },
            methods: {
                copySubjectName: function (id) {
                    var copyText = document.getElementById(id);
                    console.log(copyText);
                    copyText.select();
                    copyText.setSelectionRange(0, 99999)
                    document.execCommand("copy");
                    // alert("Đã copy môn học: " + copyText.value);

                    // test
                    msg = {
                       subjectName: copyText.value
                    };
                    window.parent.postMessage(msg, "*");
                }
            }
        })
        var tableSubject2 = new Vue({
            el: '.table-subject-2',
            data: {
                listSubject2: [
                    {
                        name: "vật lý 2",
                        id: "s20"
                    },
                    {
                        name: "vật lý 3",
                        id: "s21"
                    },
                    {
                        name: "lập trình C++",
                        id: "s22"
                    },
                    {
                        name: "lập trình hướng đối tượng",
                        id: "s23"
                    },
                    {
                        name: "cơ sở dữ liệu",
                        id: "s24"
                    },
                    {
                        name: "lập trình mạng",
                        id: "s25"
                    },
                    {
                        name: "cấu trúc dữ liệu và giải thuật",
                        id: "s26"
                    },
                    {
                        name: "kĩ thuật số",
                        id: "s27"
                    },
                    {
                        name: "kĩ thuật đồ họa",
                        id: "s28"
                    },
                    {
                        name: "giáo dục thể chất 2",
                        id: "s29"
                    },
                    {
                        name: "hệ điều hành",
                        id: "s30"
                    },
                    {
                        name: "xử lý tín hiệu số",
                        id: "s31"
                    },
                    {
                        name: "kĩ năng thuyết trình",
                        id: "s32"
                    },
                    {
                        name: "nhập môn công nghệ phần mềm",
                        id: "s33"
                    },
                    {
                        name: "quản lý dự án phần mềm",
                        id: "s34"
                    },
                    {
                        name: "an toàn và bảo mật httt",
                        id: "s35"
                    },
                    {
                        name: "tiếng anh A12",
                        id: "s36"
                    },
                    {
                        name: "tiếng anh A22",
                        id: "s37"
                    },
                    {
                        name: "tiếng anh B12",
                        id: "s38"
                    },
                    {
                        name: "tư tưởng Hồ Chí Minh",
                        id: "s39"
                    }
                ],
            },
            methods: {
                copySubjectName: function (id) {
                    var copyText = document.getElementById(id);
                    console.log(copyText);
                    copyText.select();
                    copyText.setSelectionRange(0, 99999)
                    document.execCommand("copy");
                    // alert("Đã copy môn học: " + copyText.value);
                    
                    // test
                    msg = {
                       subjectName: copyText.value
                    };
                    window.parent.postMessage(msg, "*");
                }
            }
        })
    </script>
</html>
