/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 28, 2020, 8:04:28 PM
    Author     : NguyenDuc
*/
.search-user-btn, .btn-user {
    background-color: #a579f2;
    color: white;
    font-size: 13px;
    border: none;
    height: 30px;
    width: 170px;
    cursor: default;
    border-radius: 2px;
}

.ml-1 {
    margin-left: 10px;
}

.ml-2 {
    margin-left: 20px;
}

.ml-3 {
    margin-left: 30px;
}

.ml-4 {
    margin-left: 40px;
}

.ml-5 {
    margin-top: 50px;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-5 {
    margin-top: 50px;
}

.width-1 {
    width: 100%;
}

.table-scrollable {
    max-height: 320px;
    width: 900px;
    overflow-y: auto;
    border: px solid;
    box-shadow:3px 3px 5px 6px #ccc;
    padding: 20px;
}

.img-delete, .img-edit {
    padding: 2px;
    cursor: pointer;
}

.popup-edit, .popup-insert {
    position: absolute;
    display: none;
    margin: auto;
    top: 30px;
    left: 250px;
    background-color: white;
    padding: 20px;
    box-shadow:6px 6px 10px 12px #ccc;
}

.popup-delete {
    position: absolute;
    display: none;
    margin: auto;
    top: 50px;
    left: 250px;
    background-color: white;
    padding: 50px;
    box-shadow:6px 6px 10px 12px #ccc;
}

.popup-edit div, .popup-insert div{
    margin-top: 10px;
    margin-bottom: 10px;
}

.popup-edit div span, .popup-insert div span{
    display: inline-block;
    width: 150px;
    height: 30px;
}

.close-popup-btn {
    position: absolute;
    top: 0;
    right: -120px;
    font-size: 32px;
    cursor: pointer;
    color: crimson;
}

.close-popup-delete-btn {
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 32px;
    cursor: pointer;
    color: crimson;
}